/* Color Palette
White/Background: #ecf0f1
Black/Text: #111 
Light Relative: #99cbed
Base Color: #1f74ac
Dark Relative: #0f3a56*/

/* Universal Styling */
html {
    font-family: "Merriweather Sans", Arial;
    font-size: 16px;
    background-color: #ecf0f1;
    text-align: center;
}

body {
    color: #191919;
}

h1 {
    font-size: 2rem;
    font-weight: 100;
}

h5 {
    font-size: 1.125rem;
    font-weight: 300;
}

p {
    font-size: 1.25rem;
    width: 80%;
    font-weight: 100;
    margin: auto;
}

/* Navbar Styling */

nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
}

nav li {
    display: inline;
    padding: 15px;
}

li a {
    color: #2c3e50;
    text-decoration: none;
}

/* Header Element Styling */

header {
   /* background-image: url('https://gfpierce.github.io/Durm.jpg');*/
    background-color: #1f74ac;
    height: auto;
    width: 100%;
    background-position: center;
    position: relative;
    background-size: cover;
}

header h1 {
    color: #fff;
    padding-top: 3.125%;
}

header h5 {
    color: #fff;
    padding-bottom: 3.125%; 
}

/* Progress Section Styling */

#progress {
    margin: auto;
}

/* About Section Styling */

#about {
    margin: 40px auto;
}

#about img {
    min-width: 120px;
    min-height: 120px;
    max-width: 240px;
    max-height: 240px;
    width: 50%;
    height: auto;
    margin: auto;
    display: block;
    border-radius: 50%;
}

/* Projects Section Styling */

/* Music Section Styling */

/* Code for videoWrapper class found here:
(https://css-tricks.com/NetMag/FluidWidthVideo/Article-FluidWidthVideo.php)
Video takes up 100% of container still. Possible solution in above link. Haven't read it all yet. Just what I understand so far (i.e. minimal jQuery). */

.videoWrapper {
    position: relative;
    height: 0;
    padding-top: 20px;
    overflow: hidden;
    padding-bottom: 59.43%;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    /*width: 100%;
    height: 100%;*/
}

/* Responsive Screen Size-Based Rules */

/*@media only screen and (min-width: 1024px) {
    p {
        width: 60%;
    }
}*/

@media only screen and (min-width: 480px) {
    p {
        font-size: 1rem;
        width: 66%;
        line-height: 150%;
    }

    .videoWrapper {
        padding-bottom: 40.48%;
    }

    .videoWrapper iframe {
        right: 0;
        margin: auto;
    }
}

@media only screen and (max-width: 480px) {
    .videoWrapper iframe {
        width: 100%;
        height: 100%;
    }
}