.rectangle {
    display: inline-block;
    box-sizing: border-box;
    width: 200px;
    height: 50px;
    text-align: center;
    border: 10px black;
}

/* Header Element Styling */
header {
    margin: auto;
    text-align: center;
    width: 100%;
    padding: 10px;
}
header h1 {

}

header h2 {
    font-size: 20px;
}